/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */
/* body {
  background: radial-gradient(
    circle,
    rgba(1, 116, 12, 1) 0%,
    rgba(255, 156, 0, 1) 64%
  );
} */

.video-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fullscreen {
  height: 100vh;
}

.badge-xl {
  font-size: 18px;
}
