#eventForm-container {
  display: flex;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 430px;
}

#eventImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

#eventThumb {
  align-items: flex-start;
}
