.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin: 10%;
}

.card {
  align-items: center;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.card:hover {
  transform: scale(1.07);
  transition: ease-in 0.5s;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.btn {
  margin-bottom: 8px;
}

.card_info {
  text-align: center;
}

.card_info h4 {
  text-align: start;
}
